<!-- Ads Section -->
    <section id="ads" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">후원</h2>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h3>
                        <i class="fa fa-bitcoin"></i> 암호화폐 후원<br/>
                    </h3>
                    
                    BTC :  3JUoGmQLfhFBNfKBWNa92wGQ7w13CxjoBy<br/>
                    ETH : 0x20B65F0C4027345163f0A4Ee9f9d6Dd39ec957A6<br/><br/><br/><br/>
                </div>
            </div>
        </div>
    </section>