<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
            </div>
            <div class="col-md-4">
                <span class="copyright">모든 투자의 책임은 투자자 본인에게 있습니다.</span>
            </div>
            <div class="col-md-4">
                <span class="copyright">주식, 펀드, 암호화폐 자동 투자 시스템을 무료로 사용하세요!</span>
            </div>
        </div>
    </div>
</footer>