<!-- markets -->
<section class="py-5" id="markets">
    <div class="container" style="text-align:center;">
        <h3>
          연동 가능 거래소 / 증권사
        </h3>
      <div class="row" {% if site.data.marketlist.markets.horizontal-scrolling == "yes" %} id="scrolling-clients" {% endif %}><br/><br/><br/>
        {% for market in site.data.marketlist.markets.list %}
            <div class="col-md-3 col-sm-6">
              <a href="{{ market.url }}">
                <img class="img-fluid d-block mx-auto" src="{{ market.logo }}" alt="{{ market.title }}" style="height:40px;">
              </a>
            </div>
        {% endfor %}
      </div>
    </div>
  </section>
