<!-- Coinauto Grid Section -->
    <section id="nftauto" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img src="https://cdn.jsdelivr.net/gh/needleworm/moneyauto/img/logos/NFT auto.png"/>
                    <p>
                        <h2 class="section-subheading text-muted">NFT 자동 생성 시스템</h2>
                    </p><br/><br/>
                    <p>
                        <a href="https://github.com/needleworm/nftauto/raw/exe/NFT%20AUTO.exe" >
                            <button id="my-form-submit-button" class="btn btn-xl"><i class="fa fa-windows"></i>&nbsp Windows</button>
                        </a>&nbsp 
                        <a href="https://github.com/needleworm/nftauto/archive/refs/heads/mac.zip" >
                            <button id="my-form-submit-button" class="btn btn-xl"><i class="fa fa-apple"></i>&nbsp Mac</button>
                        </a>&nbsp 
                        <a href="https://github.com/needleworm/nftauto" >
                            <button id="my-form-submit-button" class="btn btn-xl"><i class="fa fa-code"></i>&nbsp Source</button>
                        </a>
                    </p>
                </div>
            </div>
            <hr/>
            <div class="col-lg-12 text-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/oHBNYwqqfIY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br/><br/>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/3F_S1xUhik4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3 id="patchnoteTitle">NFT AUTO 패치노트</h3>
                <ul>
                    <li><a href="https://moneyauto.tistory.com/6">v1.0.1 패치노트</a></li>
                    <li><a href="https://moneyauto.tistory.com/5">v1.0.0 Relese</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
