<!-- Vision Section -->
    <section id="vision"  class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">VISION</h2>
                    <h3 class="section-subheading text-muted">모두에게 돈 벌 기회를</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">평등한 기회</h4>
                    <p class="text-muted">머니오토는 평등한 기회를 추구합니다. 모든 사람에게 성장의 기회가 돌아가는 세상을 바랍니다.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">수익의 자동화</h4>
                    <p class="text-muted">금전적으로나 시간적으로나, 여러분의 일상에 약간의 여유를 더해 드리고 싶습니다.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">비영리</h4>
                    <p class="text-muted">머니오토의 모든 서비스는 무료로 제공됩니다.</p>
                </div>
            </div>
        </div>
    </section>