<!DOCTYPE html>
<html>

  {% include head.html %}
    <body id="page-top" class="index">
      {% include header.html %}
      {% include vision.html %}
      {% include markets.html %}
      {% include coinauto_grid.html %}
      {% include nftauto.html %}
      {% include timeline.html %}
      {% include otherBooks.html %}
      {% include ads.html %}
      {% include contact.html %}
      {% include footer.html %}
      {% include coinauto_modal.html %}
      {% include js.html %}
  

    </body>
</html>